In [6]:
import pandas as pd

In [21]:
n = int(input("Enter an nonnegative integer number: "))

Enter an nonnegative integer number: 4

In [22]:
even = []
odd = []
fibo = [0,1]
if n > 0:
  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i > 1: fibo.append(fibo[i-2]+fibo[i-1])
  df = pd.DataFrame({"Even": even, "Odd": odd, "Fibonacci": fibo})
  print(df)

else:
    print("Invalid input enter an int value greater than 0.")

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2